services:
  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - '6379:6379'
    command: ['redis-server', '--requirepass', '${REDIS_PASSWORD}']
    volumes:
      - redis-data:/data
    environment:
      - REDIS_PASSWORD=yourstrongpassword
    restart: unless-stopped

volumes:
  redis-data:
    driver: local
